{% extends 'base.html.twig' %}
 {% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="container">

            <h1>Annuaire de contact !</h1>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-notice">
                    {{ message }}
                </div>
            {% endfor %}

            {% if contacts|length == 0 %}
            <h2>Aucun contact</h2>
           {% endif %}

            <table class="striped">
                <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.prenom }} </td>
                    <td>{{ contact.nom }} </td>

                    <td><a href="{{ path('delete', {'id':contact.id}) }}">supprimer</a> -
                        <a href="{{ path('edit', {'id':contact.id}) }}">modifier</a> -  <a href="{{ path('add') }}">ajouter</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    </div>
{% endblock %}
